#navigation-1 {
  background-color: #141414;
  color: #ffffff;
  min-width: 50%;
}
 
#navigation-1 a {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  padding: 0 133px;
  border-right: 1px solid #8c8ab0;
  color: #fff;
  text-decoration: none;
}
 
#navigation-1 a:hover {
  color: #d4383a;
}

body {
    background-color: #000066;
    background-image: url("http://wallpapercave.com/wp/EhjP78R.jpg");
        background-size:cover;
}

img {
    height: 100px;
    width: 200px;
    padding: 2px;
}

h1 {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #012C61; 
}

p {
    color: #ffffff;
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #012C61;
}